body {
  background-image: url("/assets/luxa.org-opacity-changed-mapa2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: fonteCorpo;
}

@font-face {
  font-family: fonteTitulos;
  src: url(/fonts/Wizardry_Night.ttf);
}
@font-face {
  font-family: fonteCorpo;
  src: url(/fonts/corpo.ttf);
}

h1 {
  font-family: fonteTitulos;
  color: rgb(53, 2, 2);
  font-size: 60px;
}

h2 {
  color: rgb(53, 2, 2);
  font-size: 35px;
  text-align: center;
}

h3 {
  color: rgb(53, 2, 2);
  font-size: 30px;
  text-align: center;
}

.sobre {
  text-align: center;
  padding-left: 5vw;
  padding-right: 5vw;
  line-height: 1.5;
}

.como_jogar {
  text-align: left;
  padding-left: 5vw;
  padding-right: 5vw;
  font-size: 23px;
  font-weight: bolder;
  line-height: 1.5;
}

.btn_display{
    display: inline-block;
    text-align: center;
    justify-content: center;
    margin-left: 10%;
}

.btn{
    width: 15vw;
    height: 5vh;
    border: none;
    outline: none;
    color: #fff;
    font-size: 30px;
    font-family: fonteCorpo;
    background:rgb(53, 2, 2);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-left: 2vw;
}

.btn:before {
    content: '';
    background: linear-gradient(45deg, #520000, #662e00, #6a6800, #32112b, #5a0101);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.btn:active {
    color: rgb(53, 2, 2)
}

.btn:active:after {
    background: transparent;
}

.btn:hover:before {
    opacity: 1;
}

.btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(53, 2, 2);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}



.pegadas1 {
    position: absolute;
    left: 85%;
    top: 70%;
    transform: rotate(-120deg);
    opacity: 0.35;
    height: 20px;
    width: 500px;
  }
  
  .leftfoot1:nth-child(1) {
    height: 20px;
    position: absolute;
    bottom: 10px;
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
    -webkit-animation: one 15s infinite;
    -moz-animation: one 15s infinite;
    -ms-animation: one 15s infinite;
    -o-animation: one 15s infinite;
    animation: one 15s infinite;
    opacity: 0;
  }
  
  .right:nth-child(2) {
    position: absolute;
    height: 20px;
    -webkit-transform: rotateX(180deg) rotateZ(180deg);
    -moz-transform: rotateX(180deg) rotateZ(180deg);
    -ms-transform: rotateX(180deg) rotateZ(180deg);
    -o-transform: rotateX(180deg) rotateZ(180deg);
    transform: rotateX(180deg) rotateZ(180deg);
    bottom: 30px;
    left: 50px;
    -webkit-animation: one 15s infinite;
    -moz-animation: one 15s infinite;
    -ms-animation: one 15s infinite;
    -o-animation: one 15s infinite;
    animation: one 15s infinite;
    -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s;
    -ms-animation-delay: .5s;
    -o-animation-delay: .5s;
    animation-delay: .5s;
    opacity: 0;
  }
  
  .leftfoot1:nth-child(3) {
    height: 20px;
    position: absolute;
    bottom: 10px;
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
    left: 100px;
    -webkit-animation: one 15s infinite;
    -moz-animation: one 15s infinite;
    -ms-animation: one 15s infinite;
    -o-animation: one 15s infinite;
    animation: one 15s infinite;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
    opacity: 0;
  }
  
  .right:nth-child(4) {
    position: absolute;
    height: 20px;
    -webkit-transform: rotateX(180deg) rotateZ(180deg);
    -moz-transform: rotateX(180deg) rotateZ(180deg);
    -ms-transform: rotateX(180deg) rotateZ(180deg);
    -o-transform: rotateX(180deg) rotateZ(180deg);
    transform: rotateX(180deg) rotateZ(180deg);
    bottom: 30px;
    left: 150px;
    -webkit-animation: one 15s infinite;
    -moz-animation: one 15s infinite;
    -ms-animation: one 15s infinite;
    -o-animation: one 15s infinite;
    animation: one 15s infinite;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    animation-delay: 1.5s;
    opacity: 0;
  }
  
  .leftfoot1:nth-child(5) {
    height: 20px;
    position: absolute;
    bottom: 10px;
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
    left: 200px;
    -webkit-animation: one 15s infinite;
    -moz-animation: one 15s infinite;
    -ms-animation: one 15s infinite;
    -o-animation: one 15s infinite;
    animation: one 15s infinite;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -ms-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
    opacity: 0;
  }
  
  .right:nth-child(6) {
    position: absolute;
    height: 20px;
    -webkit-transform: rotateX(180deg) rotateZ(180deg);
    -moz-transform: rotateX(180deg) rotateZ(180deg);
    -ms-transform: rotateX(180deg) rotateZ(180deg);
    -o-transform: rotateX(180deg) rotateZ(180deg);
    transform: rotateX(180deg) rotateZ(180deg);
    bottom: 30px;
    left: 250px;
    -webkit-animation: one 15s infinite;
    -moz-animation: one 15s infinite;
    -ms-animation: one 15s infinite;
    -o-animation: one 15s infinite;
    animation: one 15s infinite;
    -webkit-animation-delay: 2.5s;
    -moz-animation-delay: 2.5s;
    -ms-animation-delay: 2.5s;
    -o-animation-delay: 2.5s;
    animation-delay: 2.5s;
    opacity: 0;
  }
  
  .leftfoot1:nth-child(7) {
    height: 20px;
    position: absolute;
    bottom: 10px;
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
    left: 300px;
    -webkit-animation: one 15s infinite;
    -moz-animation: one 15s infinite;
    -ms-animation: one 15s infinite;
    -o-animation: one 15s infinite;
    animation: one 15s infinite;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -ms-animation-delay: 3s;
    -o-animation-delay: 3s;
    animation-delay: 3s;
    opacity: 0;
  }
  
  .right:nth-child(8) {
    position: absolute;
    height: 20px;
    -webkit-transform: rotateX(180deg) rotateZ(180deg);
    -moz-transform: rotateX(180deg) rotateZ(180deg);
    -ms-transform: rotateX(180deg) rotateZ(180deg);
    -o-transform: rotateX(180deg) rotateZ(180deg);
    transform: rotateX(180deg) rotateZ(180deg);
    bottom: 30px;
    left: 350px;
    -webkit-animation: one 15s infinite;
    -moz-animation: one 15s infinite;
    -ms-animation: one 15s infinite;
    -o-animation: one 15s infinite;
    animation: one 15s infinite;
    -webkit-animation-delay: 3.5s;
    -moz-animation-delay: 3.5s;
    -ms-animation-delay: 3.5s;
    -o-animation-delay: 3.5s;
    animation-delay: 3.5s;
    opacity: 0;
  }
  .leftfoot1:nth-child(9) {
    height: 20px;
    position: absolute;
    bottom: 10px;
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
    left: 300px;
    -webkit-animation: one 15s infinite;
    -moz-animation: one 15s infinite;
    -ms-animation: one 15s infinite;
    -o-animation: one 15s infinite;
    animation: one 15s infinite;
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    -ms-animation-delay: 4s;
    -o-animation-delay: 4s;
    animation-delay: 4s;
    opacity: 0;
  }
  
  .right:nth-child(10) {
    position: absolute;
    height: 20px;
    -webkit-transform: rotateX(180deg) rotateZ(180deg);
    -moz-transform: rotateX(180deg) rotateZ(180deg);
    -ms-transform: rotateX(180deg) rotateZ(180deg);
    -o-transform: rotateX(180deg) rotateZ(180deg);
    transform: rotateX(180deg) rotateZ(180deg);
    bottom: 30px;
    left: 350px;
    -webkit-animation: one 15s infinite;
    -moz-animation: one 15s infinite;
    -ms-animation: one 15s infinite;
    -o-animation: one 15s infinite;
    animation: one 15s infinite;
    -webkit-animation-delay: 4.5s;
    -moz-animation-delay: 4.5s;
    -ms-animation-delay: 4.5s;
    -o-animation-delay: 4.5s;
    animation-delay: 4.5s;
    opacity: 0;
  }
  

  
  
  @-webkit-keyframes one {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    65% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  @-moz-keyframes one {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    65% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  @-ms-keyframes one {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    65% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  @-o-keyframes one {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    65% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  @-keyframes one {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    65% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }



  /* a partir daqui: animação das pegadas 2*/

.pegadas2 {
    position: absolute;
    left: 15%;
    top: 40%;
    transform: rotate(-45deg);
    opacity: 0.35;
    height: 20px;
    width: 500px;
}


  .leftfoot2:nth-child(1) {
    height: 20px;
    position: absolute;
    bottom: 10px;
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
    -webkit-animation: one 12s infinite;
    -moz-animation: one 12s infinite;
    -ms-animation: one 12s infinite;
    -o-animation: one 12s infinite;
    animation: one 12s infinite;
    opacity: 0;
  }
  
  .right2:nth-child(2) {
    position: absolute;
    height: 20px;
    -webkit-transform: rotateX(180deg) rotateZ(180deg);
    -moz-transform: rotateX(180deg) rotateZ(180deg);
    -ms-transform: rotateX(180deg) rotateZ(180deg);
    -o-transform: rotateX(180deg) rotateZ(180deg);
    transform: rotateX(180deg) rotateZ(180deg);
    bottom: 30px;
    left: 50px;
    -webkit-animation: one 12s infinite;
    -moz-animation: one 12s infinite;
    -ms-animation: one 12s infinite;
    -o-animation: one 12s infinite;
    animation: one 12s infinite;
    -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s;
    -ms-animation-delay: .5s;
    -o-animation-delay: .5s;
    animation-delay: .5s;
    opacity: 0;
  }
  
  .leftfoot2:nth-child(3) {
    height: 20px;
    position: absolute;
    bottom: 10px;
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
    left: 100px;
    -webkit-animation: one 12s infinite;
    -moz-animation: one 12s infinite;
    -ms-animation: one 12s infinite;
    -o-animation: one 12s infinite;
    animation: one 12s infinite;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
    opacity: 0;
  }
  
  .right2:nth-child(4) {
    position: absolute;
    height: 20px;
    -webkit-transform: rotateX(180deg) rotateZ(180deg);
    -moz-transform: rotateX(180deg) rotateZ(180deg);
    -ms-transform: rotateX(180deg) rotateZ(180deg);
    -o-transform: rotateX(180deg) rotateZ(180deg);
    transform: rotateX(180deg) rotateZ(180deg);
    bottom: 30px;
    left: 150px;
    -webkit-animation: one 12s infinite;
    -moz-animation: one 12s infinite;
    -ms-animation: one 12s infinite;
    -o-animation: one 12s infinite;
    animation: one 12s infinite;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    animation-delay: 1.5s;
    opacity: 0;
  }
  
  .leftfoot2:nth-child(5) {
    height: 20px;
    position: absolute;
    bottom: 10px;
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
    left: 200px;
    -webkit-animation: one 12s infinite;
    -moz-animation: one 12s infinite;
    -ms-animation: one 12s infinite;
    -o-animation: one 12s infinite;
    animation: one 12s infinite;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -ms-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
    opacity: 0;
  }
  
  .right2:nth-child(6) {
    position: absolute;
    height: 20px;
    -webkit-transform: rotateX(180deg) rotateZ(180deg);
    -moz-transform: rotateX(180deg) rotateZ(180deg);
    -ms-transform: rotateX(180deg) rotateZ(180deg);
    -o-transform: rotateX(180deg) rotateZ(180deg);
    transform: rotateX(180deg) rotateZ(180deg);
    bottom: 30px;
    left: 250px;
    -webkit-animation: one 12s infinite;
    -moz-animation: one 12s infinite;
    -ms-animation: one 12s infinite;
    -o-animation: one 12s infinite;
    animation: one 12s infinite;
    -webkit-animation-delay: 2.5s;
    -moz-animation-delay: 2.5s;
    -ms-animation-delay: 2.5s;
    -o-animation-delay: 2.5s;
    animation-delay: 2.5s;
    opacity: 0;
  }
  
  .leftfoot2:nth-child(7) {
    height: 20px;
    position: absolute;
    bottom: 10px;
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
    left: 300px;
    -webkit-animation: one 12s infinite;
    -moz-animation: one 12s infinite;
    -ms-animation: one 12s infinite;
    -o-animation: one 12s infinite;
    animation: one 12s infinite;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -ms-animation-delay: 3s;
    -o-animation-delay: 3s;
    animation-delay: 3s;
    opacity: 0;
  }
  
  .right2:nth-child(8) {
    position: absolute;
    height: 20px;
    -webkit-transform: rotateX(180deg) rotateZ(180deg);
    -moz-transform: rotateX(180deg) rotateZ(180deg);
    -ms-transform: rotateX(180deg) rotateZ(180deg);
    -o-transform: rotateX(180deg) rotateZ(180deg);
    transform: rotateX(180deg) rotateZ(180deg);
    bottom: 30px;
    left: 350px;
    -webkit-animation: one 12s infinite;
    -moz-animation: one 12s infinite;
    -ms-animation: one 12s infinite;
    -o-animation: one 12s infinite;
    animation: one 12s infinite;
    -webkit-animation-delay: 3.5s;
    -moz-animation-delay: 3.5s;
    -ms-animation-delay: 3.5s;
    -o-animation-delay: 3.5s;
    animation-delay: 3.5s;
    opacity: 0;
  }
  .leftfoot2:nth-child(9) {
    height: 20px;
    position: absolute;
    bottom: 10px;
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
    left: 300px;
    -webkit-animation: one 12s infinite;
    -moz-animation: one 12s infinite;
    -ms-animation: one 12s infinite;
    -o-animation: one 12s infinite;
    animation: one 12s infinite;
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    -ms-animation-delay: 4s;
    -o-animation-delay: 4s;
    animation-delay: 4s;
    opacity: 0;
  }
  
  .right2:nth-child(10) {
    position: absolute;
    height: 20px;
    -webkit-transform: rotateX(180deg) rotateZ(180deg);
    -moz-transform: rotateX(180deg) rotateZ(180deg);
    -ms-transform: rotateX(180deg) rotateZ(180deg);
    -o-transform: rotateX(180deg) rotateZ(180deg);
    transform: rotateX(180deg) rotateZ(180deg);
    bottom: 30px;
    left: 350px;
    -webkit-animation: one 12s infinite;
    -moz-animation: one 12s infinite;
    -ms-animation: one 12s infinite;
    -o-animation: one 12s infinite;
    animation: one 12s infinite;
    -webkit-animation-delay: 4.5s;
    -moz-animation-delay: 4.5s;
    -ms-animation-delay: 4.5s;
    -o-animation-delay: 4.5s;
    animation-delay: 4.5s;
    opacity: 0;
  }
  

  
  
  @-webkit-keyframes one {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    65% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  @-moz-keyframes one {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    65% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  @-ms-keyframes one {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    65% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  @-o-keyframes one {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    65% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  @-keyframes one {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    65% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
