<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href={{url_for('static', filename='css/inicio.css')}}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Página inicial</title>
</head>

<body>
    <header class="header">
        <nav class="nav">
            <a href={{'inicio'}} class="logo">Harry Potter</a>
            <button class="hamburguer"></button>
            <ul class="nav-list">
                <li><a href={{'sobre'}}>Sobre</a></li>
                <li><a href={{'fichaBruxo'}}>Fichas</a></li>
                <li><a href={{'mesaMestre'}}>Mesa</a></li>
                <li><a href={{'login'}}>Login</a></li>
            </ul>
        </nav>
    </header>
    <div class="slider">
        <div class="slide active">
            <img src={{url_for('static', filename='img/slide1.jpg')}}>
            <div class="info">
                <h2>Conheça os Personagens</h2>
                <p>Explore um universo rico e diversificado, onde cada personagem possui uma história única e habilidades especiais. Descubra suas origens, motivações e forje laços poderosos enquanto enfrenta desafios épicos. Cada escolha molda o destino dos personagens, tornando sua jornada verdadeiramente cativante.</p>
            </div>
        </div>
        <div class="slide">
            <img src={{url_for('static', filename='img/slide2.jpg')}}>
            <div class="info">
                <h2>Descubra as Magias Místicas</h2>
                <p>Mergulhe no fascinante mundo das magias e feitiços. Aprenda a dominar poderes arcanos e descubra combinações únicas para derrotar inimigos formidáveis. Desvende segredos antigos e aprimore suas habilidades mágicas para se tornar um verdadeiro mestre das artes místicas.</p>
            </div>
        </div>
        <div class="slide">
            <img src={{url_for('static', filename='img/slide3.jpg')}}>
            <div class="info">
                <h2>Explore os Armamentos Lendários</h2>
                <p>Equipamentos são a chave para a vitória! Conheça uma vasta gama de armamentos lendários, desde espadas mágicas a arcos élficos. Personalize seu arsenal, aprimore suas armas e crie estratégias únicas para cada batalha. A escolha dos armamentos certos pode ser a diferença entre a derrota e a glória.</p>
            </div>
        </div>
        <div class="slide">
            <img src={{url_for('static', filename='img/slide4.jpg')}}>
            <div class="info">
                <h2>Aventure-se no Ambiente Deslumbrante</h2>
                <p>Viaje por terras magníficas e ambientes deslumbrantes, repletos de mistérios e desafios. Descubra regiões exuberantes, dungeons sombrias e cidades movimentadas. Cada localidade possui sua própria atmosfera e segredos, criando um mundo dinâmico e imersivo que aguarda para ser explorado. Prepare-se para se perder na beleza e complexidade do ambiente do jogo.</p>
            </div>
        </div>
        <div class="navigation">
            <i class="fas fa-chevron-left prev-btn"></i>
            <i class="fas fa-chevron-right next-btn"></i>
        </div>
        <div class="navigation-visibility">
            <div class="slide-icon active"></div>
            <div class="slide-icon"></div>
            <div class="slide-icon"></div>
            <div class="slide-icon"></div>
        </div>
    </div>
    <script src={{url_for('static', filename='js/inicio.js')}} defer></script>
</body>

</html>