<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/statics/css/jogo.css">
    <title>Jogo do harry</title>
</head>
<body>
    <div class="game-board">
        <img src="/image/3cloud.gif" class="clouds">
        <img src="/image/tumblr_mg3h0yvGFD1rgpyeqo1_500.gif" class="harry">
        <img src="/image/1001633_83be5.gif" class="pipe">
    </div>
    <script src="/statics/js/jogo.js" defer></script>
</body>
</html>