<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href={{url_for('static', filename='css/login.css')}}>

    <script src="https://kit.fontawesome.com/a2dd6045c4.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>
<body>
    <div class="box">
        <div class="content-form login">
            <h2>Login</h2>
            <form action="#">
                
                <div class="content-input">
                    <span class="icon"><i class="fa-solid fa-envelope"></i></span>
                    <input type="email" required>
                    <label for="#">Email</label>
                </div>

                <div class="content-input">
                    <span class="icon"><i class="fa-solid fa-lock"></i></span>
                    <input type="password" required>
                    <label for="#">Senha</label>
                </div>

                <div class="lembrar">
                    <label for="#"><input type="checkbox">Lembrar Sessão</label>
                    <a href="#">Esqueceu a Senha?</a>
                </div>

                <button type="submit" class="btn"><a href="jogo.html">Iniciar Sessão</a></button>

                <div class="registrar">
                    <p>Não tem uma conta? <a href="/templates/cadastro.html" class="registrar-link">Registrar-se</a></p>
                </div>
                                              
            </form>
        </div>
    </div>
</body>
</html>