@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&family=Poppins:wght@600&display=swap');

/*Menu e Corpo*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Modern Antiqua', serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #090f1d;
    background-position: center;
    background-size: cover;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
}

.logo {
    font-size: 2.4rem;
    color: #fff; /*cor da fonte*/
    user-select: none;
    cursor: pointer;
}

.navigation a {
    position: relative;
    font-size: 1.3rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    
}

.navigation a::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: -6px;
    left: 0;
    height: 2px;
    background: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s;
}

.navigation a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.navigation .btn {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1rem;
    color: #fff;
    font-weight: 600;
    margin-left: 40px;
}

.navigation .btn:hover {
    background: #fff;
    color: #090f1d;
}


/*Slide*/
section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
    font-family: 'Modern Antiqua', serif;
}

nav {
    padding: 0 30px;
}

.navbar-brand {
    font-size: 2.0rem;
}

.navbar-nav a {
    margin: 0 20px;
    font-size: 1.3rem;
}

@media screen and (max-width: 1200px){
    section.slider {
        width: 1000px;
            }
}

@media(max-width: 1024px){
    section.slider {
        width: 700px;
            }
}

@media(max-width: 768px){
    section.slider {
        width: 400px;
            }
}

@media(max-width: 425px){
    section.slider {
        width: 320px;
            }
}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input{
    display: none;
}

.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img{
    width: 100%;
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 35%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid #070606;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
    background-color: #fff;

}

#radio1:checked ~ .nav-auto .auto-btn1{
    background-color: #fff;
}

#radio2:checked ~ .nav-auto .auto-btn2{
    background-color: #fff;
}

#radio3:checked ~ .nav-auto .auto-btn3{
    background-color: #fff;
}

#radio4:checked ~ .nav-auto .auto-btn4{
    background-color: #fff;
}




#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}

#radio4:checked ~ .primeiro{
    margin-left: -75%;
}





