/* Resetting default margin and padding */
@media screen and (max-width: 1024px) {
  /* Estilos para telas menores que 1024px */
}

body {
  margin: 0;
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100%;
  padding 0;
  
}

/* Estilos do cabeçalho */
header {
  width: 100%;
  box-sizing: border-box;
}
.container-fluid{
  padding-left: 0;
  padding-right: 0;
}


header img {
  width: 100%;
  height: auto;
  display: flex;
  
  
}

/* Remove h-100 from columns */

.col-md-3,
.col-md-6,
.col-md-3 {
  padding: 0;  
}


/* Adjust Bootstrap Grid Columns */
.col-md-3 {
  flex-basis: 25%;
  margin: 0; /* Reset margin */
  
}
.col-md-3.bg-primary {
  background-color: rgb(144, 17, 17);
}

.col-md-6 {
  flex-basis: 50%;
  margin: 0; /* Reset margin */
}

/* Adjusting the height of the background image */
.background-image {
  background-image: url(../image/table5.jpeg);
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  height: 63.7vh; /* Occupy 100% of the screen height */
  border-radius: 3px;

}
#hat{
  width: 250px;
  background-color: #597A1F;
  margin-left: 7vh;
  opacity: 0.8;
}
#dice_d20{
  width: 350px;
  background-color: #B22726;
  transition: background-color 0.3s ease-in-out;
  opacity: 0.9;
}
#wandyButtom{
  width: 100px;
  background-color: #B22726;
  margin-left: 20px;
  opacity: 0.7;
}

.row{
  background-color:#B22726;
  
}
textarea{
  width: 450px;
  height: max-content;
}

/* Seleciona a primeira col-md-3 dentro da row e define o background color */
.row > .col-md-3:first-child {
  background-color: #B22726; /* Cor para a coluna da esquerda */
}

/* Seleciona a última col-md-3 dentro da row e define o background color */
.row > .col-md-3:last-child {
  background-color: #ffffff; /* Cor para a coluna da direita */
}
.row .col-md-3:last-child {
  background-color:#597A1F;
}