header{
  width: 100%;  
}
header img{
  min-width: 100%;
  width: 100%;
  height: 150px;
  display: block;
}
.container{
    display: flex;
    font-family: Arial, sans-serif;
    background-color: rgb(132, 63, 63);
    justify-content: center;
    position: relative;
  }
  .sidebar-left,
  .sidebar-right{
    width: 60%;
    padding: 0px;
  }
  .main-content{
    flex: 1;
    text-align: center;
    position: relative;
  }
  .main-content img{
    width: 650px;
    background: rgb(0, 0, 0, 0.5);
    border-radius: 10px;
  }
  #dice_d20{
    width: 80%;
    height: 65%;
   
  }
  #wandyButtom{
    width: 20%;
  }
  textarea{
    width: 300px;
    height: 200px;
    box-sizing: border-box;
    background-color: rgba(97, 61, 4, 0.5);
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    
  }
  .message-form{
    display: flex;
    padding: 10px;
  }
  .message-form input[type="text"]{
    flex: 1;
    padding 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 5px;
  }
  .message-form button{
    padding: 5px 10px;
    background-color: #948b3c;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  .message-form button:hover {
    background-color: #ff4000;
  }
  #hat{
    width: 125px;
  }
  