/* Resetando margem e preenchimento padrão */
* {
  
  padding: 0;
  box-sizing: border-box;
  background-color: bisque;
}
body{
  margin: 0px;
  background-color: black;
}
.container{
  padding-right: 0;
  padding-left: 0;
}

/* Estilos do cabeçalho */
header {
  width: 100%;
}

header img {
  width: 100%;
  height: auto;
  display: block;
}

/* Classes do Bootstrap para colunas */
.col-md-4,
.col-md-8 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

/* Larguras e margens das colunas */
.col-md-4 {
  flex-basis: calc(33.3333% - 30px);
  margin: 15px;
}

.col-md-8 {
  flex-basis: calc(66.6667% - 30px);
  margin: 15px;
}

/* Imagens e elementos responsivos */
#dice_d20 {
  width: 250px; /* Tamanho desejado */
  height: auto; /* Mantém a proporção */
}
#wandyButtom {
  width: 75px; /* Tamanho desejado */
  height: auto; /* Mantém a proporção */
}
img,
.background-image {
  max-width: 100%;
  height: auto;
}


/* Estilos do formulário à direita */
textarea {
  width: calc(100% - 80px);
  padding: 5px;
  margin-top: 10px;
}

button {
  width: 80px;
  padding: 5px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
}

/* Estilo da imagem de fundo */
.background-image {
  background-image: url(../image/table1.jpeg);
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  height: 100vh; /* Alteração para ocupar 100% da altura da tela */
}



  